# Eikon API Proxy
https://developers.thomsonrpythoneuters.com/eikon-web-and-scripting-apis/quick-start   
[All Posts in Eikon Data APIs](https://community.developers.thomsonreuters.com/spaces/92/view.html)  
https://developers.thomsonreuters.com/eikon-data-apis   
https://developers.thomsonreuters.com/eikon-data-apis/docs

#### <font color=red>ONLY RUNS LOCALLY (NOT ON AZURE)</font>

In [ ]:
# pip install eikon         # Run in cmd window    Or in Visual Studio > PTVS

In [2]:
import eikon as ek
import configparser as cp

Get this by opening **APPKEY** app in Eikon.

In [3]:
ek.set_app_key('71222a92fbdf4a168e3cb7322f63083f148c9957')

In [8]:
cfg = cp.ConfigParser()
cfg.read('eikon.cfg')  # adjust for different file location
ek.set_app_key(cfg['eikon']['appkey'])

## Essentials

### `get_news_headlines`

In [15]:
ek.get_news_headlines('R:TD.TO', date_from='2017-10-19T09:00:00', date_to='2017-10-20T18:00:00')

Empty DataFrame
Columns: [versionCreated, text, storyId, sourceCode]
Index: []

### `get_timeseries`  
https://docs-developers.thomsonreuters.com/1518205348762/14684/book/en/eikon/index.html#get_timeseries

In [15]:
df = ek.get_timeseries(["MSFT.O"], 
                       start_date="2016-01-01",  
                       end_date="2016-01-10")
df

MSFT.O         HIGH  CLOSE    LOW   OPEN   COUNT    VOLUME
Date
2016-01-04  54.8000  54.80  53.39  54.32  272781  53777963
2016-01-05  55.3900  55.05  54.54  54.93  180637  34079674
2016-01-06  54.4001  54.05  53.64  54.32  225856  39518863
2016-01-07  53.4850  52.17  52.07  52.70  303271  56564852
2016-01-08  53.2800  52.33  52.15  52.37  261949  48753969

### `get_data`  
https://docs-developers.thomsonreuters.com/1518205348762/14684/book/en/eikon/index.html#get_data

In [4]:
data_grid1, err = ek.get_data(["IBM", "GOOG.O", "MSFT.O"], ["TR.PriceClose", "TR.Volume", "TR.PriceLow"])
data_grid2, err = ek.get_data("IBM", ['TR.Employees', {'TR.GrossProfit':{'params':{'Scale': 6, 'Curn': 'EUR'},'sort_dir':'asc'}}])
fields = [ek.TR_Field('tr.revenue'),ek.TR_Field('tr.open',None,'asc',1),ek.TR_Field('TR.GrossProfit',{'Scale': 6, 'Curn': 'EUR'},'asc',0)]
data_grid3, err = ek.get_data(["IBM","MSFT.O"],fields)

In [15]:
data_grid3

  Instrument       Revenue  Price Open  Gross Profit
0        IBM   79591000000      132.87   32205.23712
1     MSFT.O  110360000000      107.24   61633.67158

## More `get_data` examples

In [9]:
df, err = ek.get_data(['GOOG.O','MSFT.O', 'FB.O'], 
                      [ 'TR.Revenue','TR.GrossProfit'])
df

  Instrument       Revenue  Gross Profit
0     GOOG.O  110855000000   65272000000
1     MSFT.O   89950000000   55689000000
2       FB.O   40653000000   35199000000

In [17]:
df, err = ek.get_data(['GOOG.O', 'MSFT.O', 'FB.O', 'AMZN.O', 'TWTR.K'], 
                      ['TR.Revenue.date','TR.Revenue','TR.GrossProfit'],
                      {'Scale': 6, 'SDate': 0, 'EDate': -2, 'FRQ': 'FY', 'Curn': 'EUR'})
df

   Instrument                  Date        Revenue   Gross Profit
0      GOOG.O  2019-12-31T00:00:00Z  144386.155420   80250.609660
1      GOOG.O  2018-12-31T00:00:00Z  119295.222480   67373.258400
2      GOOG.O  2017-12-31T00:00:00Z   92409.836550   54411.391920
3      MSFT.O  2020-06-30T00:00:00Z  127339.125850   86311.735430
4      MSFT.O  2019-06-30T00:00:00Z  110699.053380   72952.842780
5      MSFT.O  2018-06-30T00:00:00Z   94461.538400   61633.671580
6        FB.O  2019-12-31T00:00:00Z   63065.965820   51674.359620
7        FB.O  2018-12-31T00:00:00Z   48686.268960   40529.457360
8        FB.O  2017-12-31T00:00:00Z   33888.747330   29342.238390
9      AMZN.O  2019-12-31T00:00:00Z  250242.455320  102574.411160
10     AMZN.O  2018-12-31T00:00:00Z  203058.833040   81725.933520
11     AMZN.O  2017-12-31T00:00:00Z  148270.876260   54961.574520
12     TWTR.K  2019-12-31T00:00:00Z    3085.929028    2071.620233
13     TWTR.K  2018-12-31T00:00:00Z    2652.693659    1811.293475
14     TWTR.K  2017-12-31T00:00:00Z    2036.758479    1318.818536

https://developers.thomsonreuters.com/eikon-web-and-scripting-apis/learning   
https://github.com/TR-API-Samples/Tutorial.EikonAPI.Python.CompanyTearsheetEstimates/blob/master/Estimates3.py

In [11]:
df, err = ek.get_data("IBM", 
					[ 
                    {'TR.RevenueActValue':{'params':{'Period': 'FY0','Scale': 6, 'Curn': 'USD'}}},
                    {'TR.RevenueMeanEstimate':{'params':{'Period': 'FY1','Scale': 6, 'Curn': 'USD'}}},
                    {'TR.RevenueMeanEstimate':{'params':{'Period': 'FY2','Scale': 6, 'Curn': 'USD'}}}
                    ])
df

,Instrument,Revenue - Actual,Revenue - Mean Estimate,Revenue - Mean Estimate
0,IBM,79139,80052.63982,80318.39055

In [17]:
df1, err = ek.get_data("IBM", 
					[ 
                    {'TR.RevenueActValue':{'params':{'Period': 'FY0','Scale': 6, 'Curn': 'USD'}}},
                    {'TR.RevenueMeanEstimate':{'params':{'Period': 'FY1','Scale': 6, 'Curn': 'USD'}}},
                    {'TR.RevenueMeanEstimate':{'params':{'Period': 'FY2','Scale': 6, 'Curn': 'USD'}}}
                    ], raw_output=False, debug=True)
df1

,Instrument,Revenue - Actual,Revenue - Mean Estimate,Revenue - Mean Estimate
0,IBM,79139,80052.63982,80318.39055

In [18]:
df2, err = ek.get_data("IBM", 
					[ 
                    {'TR.RevenueHigh':{'params':{'Period': 'FY1','Scale': 6, 'Curn': 'USD'}}},
                    {'TR.RevenueHigh':{'params':{'Period': 'FY2','Scale': 6, 'Curn': 'USD'}}},
                    {'TR.RevenueLow':{'params':{'Period': 'FY1','Scale': 6, 'Curn': 'USD'}}},
                    {'TR.RevenueLow':{'params':{'Period': 'FY2','Scale': 6, 'Curn': 'USD'}}}
                    ], debug=True)
df2

  Instrument  Revenue - High  Revenue - High  Revenue - Low  Revenue - Low
0        IBM        81659.11           83312          77436          77365

In [19]:
df3, err = ek.get_data("IBM", 
					[ 
                    {'TR.RevenueLow':{'params':{'Period': 'FY1','Scale': 6, 'Curn': 'USD'}}},
                    {'TR.RevenueLow':{'params':{'Period': 'FY2','Scale': 6, 'Curn': 'USD'}}}
                    ], debug=True)
df3

  Instrument  Revenue - Low  Revenue - Low
0        IBM          77436          77365

In [20]:
df4, err = ek.get_data("IBM", 
					[ 
                    {'TR.RevenueMeanEstimate':{'params':{'Period': 'FY1','RollPeriods': 'False','Scale': 6, 'Curn': 'USD'}}},
                    {'TR.RevenueMeanEstimate':{'params':{'Period': 'FY2','RollPeriods': 'False','Scale': 6, 'Curn': 'USD'}}}
                    ], debug=True)
df4

  Instrument  Revenue - Mean Estimate  Revenue - Mean Estimate
0        IBM              80052.63982              80318.39055

### Download AllCoCo list in python  
https://community.developers.thomsonreuters.com/questions/19737/download-allcoco-list-in-python.html  
I am trying to obtain the list of banks and their identifiers that issue CoCos (contingent convertible bonds) from the 0#ALLCOCO chain RIC list into a pandas DataFrame.

In [40]:
constituents_data, err = ek.get_data(instruments=['0#ALLCOCO='], fields=['OFFCL_CODE'])
#constituents_data

In [33]:
fields = [ ek.TR_Field('tr.revenue')] #, ek.TR_Field('tr.open','asc',1), ek.TR_Field('TR.GrossProfit', {'Scale': 6, 'Curn': 'EUR'},'asc',0 )]

In [51]:
gicsFields = ["TR.GICSIndustry","TR.GICSSubIndustry","TR.GICSSector"]
balanceSheetFields = ["TR.TotalLiabilities;TR.TotalAssetsReported;TR.TotalEquity;TR.PCTotDebtToTotEquPct;TR.CreditRatioPD;TR.CreditRatioCoverageCpt;TR.CreditRatioGrowthCpt;TR.CreditRatioLeverageCpt;TR.CreditRatioLiquityCpt;TR.CreditRatioProfCpt;TR.LiquidityCoverageRatioBasel"]

In [48]:
dataItems = ["TR.TotalLiabilities","TR.TotalAssetsReported","TR.TotalEquity","TR.PCTotDebtToTotEquPct","TR.CreditRatioPD","TR.CreditRatioCoverageCpt","TR.CreditRatioGrowthCpt","TR.CreditRatioLeverageCpt","TR.CreditRatioLiquityCpt","TR.CreditRatioProfCpt","TR.LiquidityCoverageRatioBasel"]
fields = [ek.TR_Field(trField) for trField in dataItems ]
fields

[{'TR.TotalLiabilities;TR.TotalAssetsReported;TR.TotalEquity;TR.PCTotDebtToTotEquPct;TR.CreditRatioPD;TR.CreditRatioCoverageCpt;TR.CreditRatioGrowthCpt;TR.CreditRatioLeverageCpt;TR.CreditRatioLiquityCpt;TR.CreditRatioProfCpt;TR.LiquidityCoverageRatioBasel': {}}]

In [49]:
# https://community.developers.refinitiv.com/questions/47299/how-to-get-isin-codes-from-chain-ric.html
SPTSX300 = '0#.SPTSECP3'
SPTSX60 = "0#.SPTSE"
GB_TBill = '0#GBBMK='
data,err = ek.get_data(SPTSX60, fields=['DSPLY_NAME'])

data
ricList = data['Instrument'].tolist()
isin = ek.get_symbology(ricList, from_symbol_type="RIC", to_symbol_type="ISIN", bestMatch=True)
ricList

['MRU.TO',
 'FM.TO',
 'RY.TO',
 'CCO.TO',
 'SNC.TO',
 'BAMa.TO',
 'FNV.TO',
 'NTR.TO',
 'WCN.TO',
 'QSR.TO',
 'CTCa.TO',
 'BCE.TO',
 'NA.TO',
 'GIL.TO',
 'CNQ.TO',
 'EMA.TO',
 'CM.TO',
 'BHC.TO',
 'GIBa.TO',
 'TD.TO',
 'SAP.TO',
 'WN.TO',
 'BNS.TO',
 'BIP_u.TO',
 'L.TO',
 'WPM.TO',
 'KL.TO',
 'OTEX.TO',
 'ABX.TO',
 'MFC.TO',
 'CCLb.TO',
 'CAR_u.TO',
 'TRP.TO',
 'FTS.TO',
 'BPY_u.TO',
 'SU.TO',
 'TECKb.TO',
 'IPL.TO',
 'SJRb.TO',
 'RCIb.TO',
 'PPL.TO',
 'SLF.TO',
 'CNR.TO',
 'TRI.TO',
 'BMO.TO',
 'IMO.TO',
 'CSU.TO',
 'ATDb.TO',
 'AEM.TO',
 'MG.TO',
 'SHOP.TO',
 'CP.TO',
 'AQN.TO',
 'POW.TO',
 'WEED.TO',
 'T.TO',
 'K.TO',
 'CVE.TO',
 'DOL.TO',
 'ENB.TO']

## Economic data

In [19]:
ek.get_data(['USGDPF=ECI'],['GN_TXT16_4']) 
ek.get_timeseries(['aCNFRTRRAW'], interval='monthly')

aCNFRTRRAW      VALUE
Date
2020-08-31  384000000
2020-09-30  375000000
2020-10-31  399000000